body {
    font-family: sans-serif;
}
.info, .error {
    font-weight: bold;
    padding: 10px;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
}
.info {
    color: rgb(26, 123, 6);
    background-color: rgb(215, 255, 203);
}
.error {
    color: rgb(139, 0, 0);
    background-color: rgb(255, 204, 204);
}